
<div class="container-fluid ">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" 
    fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" (click)="irInicio()">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
    <h4>Lomitos</h4>
    <div class="flex-container">
        <div class="row">
            <div class="flex-box">
               
                        <img src="./assets/perfil.png" class="img-fluid rounded-start" alt="...">
                   <div>
                          <h5 class="card-title">Lomito Simple</h5>
                          <p class="card-text">Lomito, tomate y  lechuga</p>
                          
                        </div>
                         <button><svg (click)="irPagos()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg></button>
                       
            </div>
        </div>
        <div class="row">
            <div class="flex-box">
                <img src="./assets/perfil.png" class="img-fluid rounded-start" alt="...">
                <div >    
                <h5 class="card-title">Lomito Fugazzeta</h5>
            
                <p  class="card-text">Lomito, cebolla y aceitunas negras</p>
                </div>
               <button><svg (click)="irPagos()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg></button>
            </div>
        </div>
        <div class="row">
            <div class="flex-box">
                <img src="./assets/perfil.png" class="img-fluid rounded-start" alt="...">
                     <div>
                          <h5 class="card-title" >Lomito Especial</h5>
                        
                          <p class="card-text">Lomito, tomate, queso, lechuga y cebolla</p>
                     </div>
                         <button><svg (click)="irPagos()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                          </svg></button>
            </div>
        </div>
    </div>
</div>