<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
            data-bs-toggle="dropdown" aria-expanded="false">
            Menú
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
             <li><a class="dropdown-item active" href="#" (click)="irInicio">Inicio</a></li> 
            <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
    </div>

    <h5>Su compra se ha efectuado correctamente</h5>
    <h5>Su pedido llegará entre 30 minutos y 40 minutos.</h5>
    <p>Gracias por su compra!</p>

</div>