<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Menú
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <!-- <li><a class="dropdown-item active" href="#">Inicio</a></li> -->
                    <li><a class="dropdown-item" href="#" routerLink="/formaspagos">Formas de pago</a></li>
                    <li><a class="dropdown-item active" href="#" routerLink="/carrito">Carrito</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/nosotros">Acerca de nosotros</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Salir</a></li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <h4>Tu Carrito</h4>
        </div>

        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>

                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let pizza of pizza">
                    <tr>
                        <td>{{pizza.name}}</td>
                        <td>{{pizza.quantity}}</td>
                        <td>{{pizza.price | currency: 'ARS'}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <p class="text-end">Total: ${{total()}}</p>
        <div class="text-end">
            <button>Comprar</button>
        </div>
    </div>
</div>