
<div class="container" >
  
        <div class="card" style="width: 7rem;">
          <img src="/assets/panceta.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <button (click)="irPizza()">
              <p class="card-text">Pizzas </p>
            </button>
          </div>
        </div>
      
        <div class="card" style="width: 7rem;">
          <img src="/assets/hamburguesa.jpg" class="card-img-top"  alt="...">
          <div class="card-body">
            <button (click)="irHamburguesas()">
              <p class="card-text"><span>Hambur</span><br/>guesas</p>
            </button>
          </div>
        </div>
      <div class="card" style="width: 7rem;">
          <img src="/assets/lomitoRucula.jpg" class="card-img-top"  alt="...">
          <div class="card-body">
            <button (click)="irLomitos()">
              <p class="card-text">Lomitos</p>
            </button>

          </div>
        </div>
       <div class="card" style="width: 7rem;">
          <img src="/assets/bebidas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <button (click)="irBebidas()">
              <p class="card-text" >Bebidas</p>
            </button>

          </div>
        </div>
</div>