

h4{
  padding-top: 15px;
  margin-left: 20px;
}

.row{
  background-color:rgba(245,136,36,1) ;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

}

.table{
background: antiquewhite;
border-radius: 20px;
}

 img{
  width: 80px;
  height: 70px;
  border-radius: 110px;

}

.col-4{
  margin-top: 5px;
  margin-bottom: 5px;
 border-radius: 20px;
 background: antiquewhite;
 }


  