
h4{
    padding-top: 15px;
  }
  div.row{
   background: gray;
   border-radius: 20px ;
    margin:30px; 
    /* height: 100px; */
  }
  
  .flex-box{
    display: flex;
    
  }
  .container-fluid{
      
   border-radius: 40px ;
  background: rgba(245,136,36,1);

  
  }
  
  div img {    
   width: 80px;
      
  }
  
  svg{
    background:grey;
  
   
  }
  
  button{
    border:none;
    background:grey;
  
  }
  
  div{
    margin-left: 15px;
    
  }
  