<p>Tarjetas de crédito</p>
<div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" 
    id="button-addon1">Número de tarjeta</button>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <div class="input-group mb-3">
    <button class="btn btn-outline-secondary" type="button" 
    id="button-addon1">Nombre y Apellido</button>
    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <button (click)="irComprar()">Continuar</button>