
h4{
  padding-top: 15px;
}
div.row{
 background: white;
 border-radius: 20px ;
  margin:30px; 
  
}

.flex-box{
  display: block;
  
}
.container-fluid{
    
    background: rgba(245,136,36,1);
height: 600px;

}

div img {    
 width: 80px;
    
}

button svg{
  background: white;
 
}

 svg {
  background: rgba(245,136,36,1);
 
}

button{
  border: none;
  background: white;
  border-radius: 30px;
}
div{
  margin-left: 15px;
  
}














