
  <div class="row">
    <h5 id="listaPizza">Lista de Pizzas</h5>
    <div>
      <table class="table table-striped">
        <tbody>
      
          <ng-container *ngFor="let pizza of pizza">
            <tr *ngIf="pizza.stock > 0" [ngClass]="{'clearance':pizza.clearance}">
              <td><img [src]="pizza.image"></td>
              <td>{{pizza.name}}</td>
              <td style="font-size:70%">{{pizza.description}}</td>
              <td>{{pizza.price | currency: 'ARS'}}
              
                <div class="input-group input-group-sm mb-3">
                 
                  <button type="button" class="btn btn-light btn-sm" (click)="downQuantity(pizza)">-</button>
                  <input class="form-control form-control-sm" type="number" [(ngModel)]="pizza.quantity" (focusout)="verifyPizzasQuantity(pizza)" />
                  <button type="button" class="btn btn-light btn-sm" (click)="upQuantity(pizza)">+</button>
                 
                </div>
              </td> 
            </tr>
          </ng-container>
      
        </tbody>
      </table>
    </div>
  </div>




