<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="dropdown">
                <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <!-- <li><a class="dropdown-item active" href="#">Inicio</a></li> -->
                    <li><a class="dropdown-item" href="#" routerLink="/formaspagos">Formas de pago</a></li>
                    <li><a class="dropdown-item active" href="#" routerLink="/carrito">Carrito</a></li>
                    <li><a class="dropdown-item" href="#" routerLink="/nosotros">Acerca de nosotros</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Salir</a></li>
                </ul>
            </div>
        </div>

        <div class="col-7">Pizzas Dely Delivery</div>

        <button class="col-2"><img src="/assets/perfil.png" class="card-img-top" alt="perfil" (click)="login()">
        </button>
    </div>

</div>